.Home .lander {
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-decoration: none;
    margin-top: -1vh;
  padding-top: 3vh;
}

.Home .lander>p {
  color: #999;
  font-size: 18px;
}

.Home {
  background-image: url(.././img/suv.png);
  background-size: 110vw;
  height: 100vh;
  background-repeat: no-repeat;
}

.App.container {
  width: 100%;
  padding:0;
}