h1 {
  text-align: center;
  text-decoration: underline;
  padding: 10vh 0;
}
.skew {
  margin: 0 20vw;
}

h4 {
  text-align: center;
}
.media-heading {
  font-size: 20px;
  text-decoration: underline;
}
.media-left {
  margin-right: 10vh;
}
.media-body {
  padding: 2vw;
}
img {
  padding-top: 1vh;
}